include block_html/_style.pug
include block_html/_include.pug

.box
.main-cont
	+header()
	img(src="img/banner-text.jpg", alt="").banner
	.content.content--white
		.bread
			-
				var items = ['Главная','О бренде','Оформление заказа'];
			each item in items
				a(href="#").bread__el #{item}
		.content-title Производство
		p DELKOR Corporation – совместное предприятие корейской компании Delkor и американской компании Johnson Controls Inc. — мирового лидера производства автомобильных аккумуляторных батарей.
		p DELKOR Corporation была основана 22 октября 1985 года как производитель высокотехнологичной автомобильной аккумуляторной батареи, не нуждающейся в уходе, при использовании запатентованных технологий и know-how, принадлежащих компании на правах разработчика. За всю историю производства аккумуляторов на заводах DELKOR Corporation были освоены ВСЕ типоразмеры автомобильных аккумуляторов, используемые мировыми автопроизводителями. Стандарты SAE/BCI, DIN, EN, JIS, KS, Australian Type и др. В настоящее время не существует автомобиля, на который невозможно было бы установить аккумуляторную батарею от DELKOR Corporation!
		p Надёжность и длительный срок эксплуатации продукции позволили компании DELKOR стать поставщиком аккумуляторных батарей для известных автопроизводителей, среди которых компании Toyota, Honda, Daewoo, Kia, Hyundai и многие другие. Компания Bosch размещает заказ на батареи для японского рынка именно на DELKOR. DELKOR имеет международные сертификаты ISO 9001, ISO 9002, ISO 14001, OS 9000, ISO/TS 16949:2002.

	.content.content--gray
		.content-title Неоспоримые преимущества аккумуляторов CENE
		.edge
			.edge__el
				.edge__el-icon
					+icon("cert","icon")
				.edge__el-text Запатентованная технология non-spillable, абсолютная герметичность не зависит от угла установки. Это обеспечивает большую гибкость установки аккумуляторов (в багажнике, под капотом и в кабине)
			.edge__el
				.edge__el-icon
					+icon("batary","icon")
				.edge__el-text Аккумуляторы не требуют забот в обслуживании на протяжении всего периода всего срока службы
			.edge__el
				.edge__el-icon
					+icon("engineer","icon")
				.edge__el-text Повышенные эксплуатационные характеристики
			.edge__el
				.edge__el-icon
					+icon("idea","icon")
				.edge__el-text Отличный выбор, если в вашем автомобиле установлено много дополнительного оборудования
			.edge__el
				.edge__el-icon
					+icon("temperature","icon")
				.edge__el-text Устойчив к экстремальным температурам
			.edge__el
				.edge__el-icon
					+icon("sandwach","icon")
				.edge__el-text Увеличенный срок службы батареи
			.edge__el
				.edge__el-icon
					+icon("gear","icon")
				.edge__el-text Рекордно низкий процент брака

	.content.content--white
		.content-title Применяемые технологии и их особенности
		ul
			li  В процессе производства используется только первичный свинец, в легировании используется кальций, олово и серебро.
			li  Улучшенная структура свинца: JCI Delkor Co. – единственное предприятие в мире, применяющее 50-кратное сжатие в процессе холодной ковки и прокатки свинцовой ленты; при этом упорядочивается кристаллическая структура свинца, в сотни раз уменьшается размер зерна.
			li  Современная и продвинутая технология производства решеток Punch Frame Stamped.
			li  Уникальная технология производства и нанесения активной массы: запатентованный метод производства активной массы подразумевает применение частиц оксида свинца в десятки раз меньше, чем у других технологий, и двухстороннюю намазку пластин.
			li  Амортизирующие ребра секций: плотно удерживают наборы пластин; это позволяет не только увеличить устойчивость к механическим воздействиям, но и избежать повреждений в процессе заряда- разряда, когда пластины периодически меняют свою толщину.
			li  Технология «ровное дно»: пластины не касаются дна АКБ, «подвешены» внутри корпуса; снижается риск разрушения нижнего края пластин от вибрации, тряски, ударов.
			li  Герметичные швы: крышка батареи CENE является сложным запатентованным техническим изделием; лабиринтная система улавливания паров возвращает испаряющийся электролит обратно в батарею; крышка батареи крепится к корпусу методом термосварки, а не традиционным склеиванием, что обеспечивает абсолютную герметичность шва.
			li  Уникальное крепление клемм: обычно терминалы вставляются и припаиваются, а клеммы CENE вкручиваются, обжимаются и припаиваются, что исключает расшатывание клемм и разгерметизацию корпуса АКБ.
			li  Одним из способов контроля над качеством аккумуляторных батарей во всем мире является так называемый тест «Мусорный бак». Он заключается в том, что на пунктах сбора отработанных аккумуляторных батарей производится групповой сравнительный анализ батарей различных производителей одинакового типа (емкости). Исследования производятся ежегодно в разных географических и климатических сегментах. В исследованиях 2005 года, проводимых в США, использовались 4584 батареи из пяти географических сегментов. В итоге было выяснено, что батареи компании DELKOR Corporation «живут» на 30% дольше, чем их аналоги других производителей.


	.subscribe
		.subscribe-title отправим на почту прайс-лист
		form(action="#").subscribe-form
			input(type="text" placeholder="Ваше имя" class="input")
			input(type="text" placeholder="Ваш E-mail" class="input")
			input(type="submit" value="Отправить запрос" class="subscribe-form__get")

+footer()

include ./block_html/_script.pug
