-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'О бренде',
			'href':'about'
		},
		{
			'name':'Каталог опт',
			'href':'catalog-opt'
		},
		{
			'name':'Каталог розница',
			'href':'catalog'
		},
		{
			'name':'Где купить',
			'href':'location'
		}
	]

