mixin header()
	//block header
	.header
		a(href="/").logo
			img(src="img/logo.jpg", alt="")
		.header__slogan Мощность всегда в CENE
		.menu
			a(href="#").menu__el.menu__el--active Главная
			a(href="#").menu__el О бренде CENE
			a(href="#").menu__el Каталог
			a(href="#").menu__el Где купить
			a(href="#").menu__el Дилеры
	//block header end